.{margin: 0;padding: 0;}
.home{background: url(background.png); 
	background-size: 100% 100%;
}
.top-bar{
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: #000;
	width: 100%;
	height: auto;
	top: 0px;
}
.logo{
	color: #fff;
	flex: 1;
	font-size: 40px;
	padding: 3px 10px;
	text-transform: uppercase;
}
.menu{
	flex: 3;
}
.menu ul{
	display: flex;
	list-style: none;
	margin-top:30px;
}
.menu ul li{
	flex:1;
	text-align: center;
}
.menu ul li a{
	transition: 0.8s ease;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.menu ul li a:active{
	color:red;	
}
.menu ul li a:hover{
	color: green;
}
.home-text{
	display: flex;
	padding: 15% 0;
}
.home-text-items{
	color: #fff;
	margin:auto;
	text-align: center;
	width: 50%;
}
.home-text-items h2{
	font-size: 3em;
	text-transform: uppercase;
}
.home-text-items p{
	font-size: 18px;
}  
.par{
	padding-right: 15px;
	padding-left: 15px;
}
/*about*/
.About-text{
	display: flex;
} 
.About{  
	margin-top: 30px;
	background-color: lightgrey; 
	margin-left: 20px;
	margin-right: 20px;
	height: auto;
	margin-bottom: 0px;
}
#about p{
	color: yellow;
	padding: 0 15px;
}
#about{
	background-color: blue; 
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	height: auto;
	padding-bottom: 50px;
}
#about h3{
	background-color: green;
	margin-top: 0px;
} 
.About-text p{ 
	color: black;
}
/*Experience*/
.Experience{
	background-color: white; 
	border: 1px solid ;
	box-shadow: 5px 5px red;
	height: auto;
	margin: 20px 20px;
	border-bottom: 30px solid grey;
}
.Experience-text h2{
	font-size: 40px;
	margin-bottom: 18px;
	color: black;
	padding-top: 5px;
	text-align: center;
}
.Experience-text p{
	padding:0 20px;
	color: black;
}
/*Skills*/
.Skills{
	background-color: white; 
	border:1px solid black;
	box-shadow: 5px 5px black;
	height: 600px;
	margin: 20px 20px;
	border-bottom: 30px solid grey;
}
#myProgress {
  width: 300px;
  padding-left: 90px;
  background-color: #ddd;
}


#ab{
	z-index: -1;
}
#pr{
	padding-left: 40px;
}
.progress {
  height: 1.5em;
  width: 500px;
  background-color: #c9c9c9;
  position: relative;
}
.progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
}
.progress .value {
  background-color: #7cc4ff;
  display: inline-block;
  height: 100%;
}



#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.Skills-text h2{
	text-align: center;
	color: #000;
	font-size: 40px;
	margin-bottom: 18px;
} 
.Skills-text {
	padding-top: 4px;
}
.Skills-text p{
	padding-left: 20px;
	color: black;
} 
#progress{
	padding-left: 20px;
}
/*Contact*/
.contact{
	background-color: lightgrey; 
	border:1px solid black;
	box-shadow: 5px 5px black;
	height: 600px;
	margin: 20px 20px;
	border-bottom: 30px solid grey;
}
.contact-items{
	display: flex;
	align-items:center;
	flex-direction: column;
}
.contact-items h2{
	color: #fff;
	font-size: 40px;
	margin-bottom: 18px;
}
.contact-items input[type="text"]{
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 15px;
	width: 50%;
}
.contact-items textarea{
	border-radius: 10px;
	height: 150px;
	padding: 15px;
	width: 50%;
}
.contact-items a{
	background:orange;
	color: #fff;
	display: block;
	font-size: 20px;
	margin-top: 25px;
	padding: 15px 80px;
	text-decoration: none;
	text-transform: uppercase;
}
@media all and (max-width: 800px){
	.top-bar{
		flex-direction: column;
		text-align: center;
	}
	.logo{
		padding: 18px 0 0;
	}
	.menu ul li{
		padding: 5px;
	}
	.home-text-items{
		width: 100%;
	}
	.home-text-items h2{
		font-size: 1.5em;
	} 
	.main-content{
		flex-direction: column;
	}
}